.filter {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    height: 100%;
    min-width: 64px;
    max-width: 500px;
    position: relative;

    .container {
        align-items: center;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        height: 100%;
        padding: 5px 15px;
        transition: 0.2s background;

        p {
            font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
            text-transform: capitalize;
            user-select: none;
        }

        svg {
            height: 20px;
            transition: 0.2s transform ease-in-out;
            width: 20px;

            &:first-child {
                margin-right: 10px;
            }

            &:last-child {
                margin-left: 62px;
            }
        }
    }

    .filter-dropDawn {
        border-radius: 4px;
        right: 0px;
        position: absolute;
        padding: 12px 0px;
        top: 60px;
        width: 100%;

        ul {
            li {
                align-items: center;
                cursor: pointer;
                display: flex;
                font-weight: 700;
                font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
                letter-spacing: 0.8px;
                height: 36px;
                list-style: none;
                opacity: 0.7;
                text-transform: capitalize;
                transition: 0.25s padding, opacity, background ease-in-out;
                user-select: none;

                &:hover {
                    font-size: 1.1rem;
                    padding-left: 13px !important;
                    opacity: 1;
                }

                svg {
                    height: 28px;
                    width: 28px;
                }
            }
        }
    }
}
