/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #cacaca;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5a748f;
    border-radius: 10px;
    height: 35%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4d7cc4;
}
