* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("./assets/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf");
}

@font-face {
    font-family: "OpenSans-VariableFont";
    src: url("./assets/OpenSans-VariableFont_wdth,wght.ttf");
}
