.errorMessage {
    font-size: 1.1rem;
    text-transform: uppercase;
}

.countryCard {
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;

    .flat-image {
        height: 200px;
        width: 100%;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    .country-name {
        padding: 1.5rem;

        p {
            &:first-child {
                margin: 0px 0px 16px;
                font-size: 1.5rem;
                font-weight: 800;
            }

            span {
                font-size: 1rem;
                font-weight: 600;
                text-transform: capitalize;
            }
        }
    }
}
